body{
    font-family: Arial, sans-serif;
    background: #7db1ff;
    margin: 0;
    padding: 20px;
    color: #333;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

header{
    text-align: center;
    background: white;
    padding: 0.10px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 5px rgba(0,0,0,0.1);
}

header h1{
    margin: 1;
    color: #23415d;
}

.panel{
    background: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 5px rgba(0,0,0,0.1);
}

.panel h2{
    margin-top: 2px;
    color: #3a6289
}

.estado div{
    margin: 3px;
    padding: 2px;
    background: #e8f3fe;
    border-radius: 10px;
}

.espera{
    color: #f39c12;
}

.verificado{
    color: #51ff00;
}

.error{
    color: #ff0000;
}

.desactivado{
    color: #778384;
}

.activado{
    color: #51ff00;
}

.input{
    width: 120px;
    padding: 2px;
    border: 1px solid #918f8f;
    border-radius: 5px;
    margin-right: 10px;
}

.boton {
    padding: 10px 10px;
    border: 0.1px solid;;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

.boton:hover {
    opacity: 0.8;
    color: red;
}

.eventos {
    margin-top: 10px;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
}

.evento{
    padding: 5px;
    margin: 5px 0;
    border-radius: 3px;
    border-left: 4px solid #3498db;
}

.evento.info{
    border-color: #3498db; background: #ebf5fb;
}

.evento.exito {
    border-color: #51ff00; background: #d5f4e6;
}

.evento.error {
    border-color: #ff0000; background: #fadbd8;
}
.event.espera {
    border-color: #f39c12; background: #fdebd0;
}
.event.ticket { 
    border-color: #9b59b6; 
    background: #e8daef; 
    font-family: monospace;
    white-space: pre;
}

.historial{
    margin-bottom: 10px;
}